.rai-header-name {
  width: 16rem;
}

.rai-header-search-input {
  width: 40rem;
}

.rai-side-nav-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rai-side-nav-new-project {
  flex: unset;
}

.rai-credits-link {
  align-self: center;
}

.rai-menu-content.rai-menu-content {
  right: 16px;
}

.rai-user-avatar {
  justify-content: center;
  align-items: center;
}
