.iui-information-panel .iui-information-body {
  padding-left: 24px;
}

.iui-information-panel .iui-information-header {
  background-color: #161616;
}

.iui-tabs.iui-default .iui-tab::after {
  content: none;
}

.iui-tabs .iui-tab.iui-active {
  color: inherit;
}

.iui-tabs.iui-animated::after {
  background-color: rgba(141,141,141,0.32);
}

hr {
  border-color: rgba(255,255,255,0.1)
}