.rai-canvas {
  background-size: 50px 50px;
  background-image: linear-gradient(45deg, #171717 25%, transparent 25%, transparent 75%, #171717 75%, #171717),
    linear-gradient(45deg, #171717 25%, transparent 25%, transparent 75%, #171717 75%, #171717),
    linear-gradient(45deg, #464646 25%, transparent 25%, transparent 75%, #464646 75%, #464646),
    linear-gradient(45deg, #464646 25%, transparent 25%, transparent 75%, #464646 75%, #464646);
  background-position: 0 0, 25px 25px, 25px 0, 0 25px;
}
