@use '@carbon/react' with (
  $font-path: '@ibm/plex'
);

.cds--file,
.cds--file-input {
  flex-grow: 1;
}

i {
  font-style: italic;
}

.rai-page-content {
  overflow: auto;
  display: flex;
  width: 100%;
  margin-left: 16rem;
}

@media (max-width: 65.98rem) {
  .rai-page-content {
    margin-left: unset;
    justify-content: center;
    padding: 1rem;
  }
}
