.iui-tile-thumbnail.iui-tile-thumbnail {
  border-bottom: 0;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  @supports (aspect-ratio: 1/1) {
    height: initial;
    aspect-ratio: 1/1;
  }
}

.iui-tile.iui-tile {
  border-radius: 4%;
  width: 100%;
}

.iui-tile.iui-tile .iui-tile-content {
  height: 50px;
  box-sizing: border-box;
  justify-content: center;
}

.iui-tile.iui-tile .iui-tile-content .iui-tile-name {
  margin-bottom: 0;
}

.tiles-wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(MIN(100%, 256px), 1fr));
  padding: 3px 0;
}