.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
}

.login-legal {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
